.AppContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(237, 236, 236);
  overflow-x: hidden;
}

.ContentContainer {
  display: flex;
  flex-grow: 1;
  min-height: 100vh;
  /* Allows the ContentContainer to grow to fill available space */
}

.MainContent {
  position: absolute;
  width: calc(100% - 220px);
  left: 220px;
  min-height: 100vh;
  /* background: rgb(237, 236, 236); */
  transition: width, left, right, 0.3s;
  overflow-x: hidden;
}